In [1]:
import pandas as pd

In [6]:
laredo = pd.read_csv("top30_loc_by_county.csv")

In [11]:
laredo.head(20)

                          Search by counties
0   ****Cameron*****************************
1                               30984 SH 100
2                       SAN BENITO, TX 78586
3                             3.7 Miles Away
4                  More Restaurants Near You
5                                          2
6                           Restaurant #2281
7                     101 E. OCEAN BOULEVARD
8                      LOS FRESNOS, TX 78566
9                               5 Miles Away
10                                         3
11                          Restaurant #9678
12              898 N. SAM HOUSTON BOULEVARD
13                      SAN BENITO, TX 78586
14                            6.3 Miles Away
15                                         4
16                          Restaurant #9637
17              304 S. SAM HOUSTON BOULEVARD
18                      SAN BENITO, TX 78586
19                            6.8 Miles Away

In [9]:
laredo.describe()

         Search by counties
count                   602
unique                  339
top     HARLINGEN, TX 78550
freq                     20

## Data Cleaning

Find restaurant then pivot out next to values into new columns

In [26]:
restaurant_num = []
for x in laredo['Search by counties']:
    if 'Restaurant #' in x:
        restaurant_num.append(x)

In [27]:
print(restaurant_num)

['Restaurant #2281', 'Restaurant #9678', 'Restaurant #9637', 'Restaurant #9136', 'Restaurant #2226', 'Restaurant #2217', 'Restaurant #9115', 'Restaurant #2199', 'Restaurant #5138', 'Restaurant #5147', 'Restaurant #2258', 'Restaurant #9135', 'Restaurant #9823', 'Restaurant #2162', 'Restaurant #2263', 'Restaurant #2166', 'Restaurant #9839', 'Restaurant #2203', 'Restaurant #2465', 'Restaurant #7795', 'Restaurant #9651', 'Restaurant #2188', 'Restaurant #5146', 'Restaurant #5145', 'Restaurant #7085', 'Restaurant #9108', 'Restaurant #9112', 'Restaurant #2171', 'Restaurant #2186', 'Restaurant #2206', 'Restaurant #5094', 'Restaurant #2437', 'Restaurant #2559', 'Restaurant #2457', 'Restaurant #2212', 'Restaurant #2570', 'Restaurant #2198', 'Restaurant #9143', 'Restaurant #2219', 'Restaurant #9111', 'Restaurant #9134', 'Restaurant #2207', 'Restaurant #2220', 'Restaurant #5116', 'Restaurant #7317', 'Restaurant #2265', 'Restaurant #9126', 'Restaurant #9132', 'Restaurant #2225', 'Restaurant #9124', 'Restaurant #9680', 'Restaurant #2404', 'Restaurant #9130', 'Restaurant #9133', 'Restaurant #40642', 'Restaurant #9139', 'Restaurant #2466', 'Restaurant #9110', 'Restaurant #2404', 'Restaurant #9132', 'Restaurant #5115', 'Restaurant #7791', 'Restaurant #9648', 'Restaurant #2198', 'Restaurant #9125', 'Restaurant #9110', 'Restaurant #5081', 'Restaurant #9773', 'Restaurant #5116', 'Restaurant #9145', 'Restaurant #2212', 'Restaurant #2156', 'Restaurant #9137', 'Restaurant #2481', 'Restaurant #2509', 'Restaurant #2232', 'Restaurant #2570', 'Restaurant #2225', 'Restaurant #2466', 'Restaurant #2216', 'Restaurant #9680', 'Restaurant #9632', 'Restaurant #9139', 'Restaurant #2214', 'Restaurant #9134', 'Restaurant #9130', 'Restaurant #9644', 'Restaurant #9673', 'Restaurant #2277', 'Restaurant #2478', 'Restaurant #7311', 'Restaurant #2242', 'Restaurant #2194', 'Restaurant #2230', 'Restaurant #2203', 'Restaurant #2226', 'Restaurant #2228', 'Restaurant #2211', 'Restaurant #9651', 'Restaurant #9839', 'Restaurant #9112', 'Restaurant #9135', 'Restaurant #5147', 'Restaurant #5146', 'Restaurant #5138', 'Restaurant #7795', 'Restaurant #9823', 'Restaurant #2199', 'Restaurant #2218', 'Restaurant #9107', 'Restaurant #2247', 'Restaurant #9115', 'Restaurant #9678', 'Restaurant #9637', 'Restaurant #2243', 'Restaurant #2214', 'Restaurant #2251', 'Restaurant #9634']

In [28]:
laredo_rest_num = laredo.append(restaurant_num)

In [35]:
type(restaurant_num)

list

In [36]:
type(laredo_rest_num)

pandas.core.frame.DataFrame

In [41]:
laredo_rest_num.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 720 entries, 0 to 117
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Search by counties  602 non-null    object
 1   0                   118 non-null    object
dtypes: object(2)
memory usage: 16.9+ KB

In [59]:
address = []
for x in laredo['Search by counties']:
    if 'Restaurant #' in x:
        y = laredo['Search by counties'].index(x)
        #address.append(laredo['Search by counties'])

TypeError: 'RangeIndex' object is not callable

In [60]:
laredo['Search by counties'].index('Restaurant #2265')

TypeError: 'RangeIndex' object is not callable

In [62]:
rotate = laredo_rest_num.melt(id_vars=["Search by counties"], 
        var_name="Address", 
        value_name="Value")

In [63]:
print(rotate)

                           Search by counties Address             Value
0    ****Cameron*****************************       0               NaN
1                                30984 SH 100       0               NaN
2                        SAN BENITO, TX 78586       0               NaN
3                              3.7 Miles Away       0               NaN
4                   More Restaurants Near You       0               NaN
..                                        ...     ...               ...
715                                       NaN       0  Restaurant #9637
716                                       NaN       0  Restaurant #2243
717                                       NaN       0  Restaurant #2214
718                                       NaN       0  Restaurant #2251
719                                       NaN       0  Restaurant #9634

[720 rows x 3 columns]